<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
    <div>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span><mat-icon>{{isConnected}}</mat-icon></span>
          <span>GovindaRC</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialogOptions()">
          <mat-icon>dialpad</mat-icon>
          <span>Options</span>
        </button>
        <button mat-menu-item (click)="openAbout()">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>      

      <span class="btnConnect">
        <button mat-fab (click)="btnConnectClick()">
          <mat-icon>autorenew</mat-icon>
        </button>
      </span>
      <span class="btnEye">
        <button mat-fab (click)="btnEyeClick()">
          <mat-icon>report problem</mat-icon>
        </button>
      </span>

      <div id="ultrasonic">
        <div [ngClass]="{'ultrasonic-danger': ultrasonic<=15}" class="ultrasonic-content">{{ultrasonic}}</div>
      </div>

      <router-outlet></router-outlet>
      <app-pan-controller></app-pan-controller>
    
    </div>
  </div>